<h1> Add Timesheet</h1>
<form (ngSubmit)="onSubmit()" #timesheetForm="ngForm"> 

Day: 
<select [(ngModel)]="timesheet.businessDate" required name="timesheetdate"> 
  <option *ngFor="let d of weekDates" [ngValue]="d">{{d | date:'EEE'}}</option>
</select>
<br>
<br>
 Employee
  <select [(ngModel)]="timesheet.employeeId"  required name="employeeId" disabled>
    <option *ngFor="let c of employees" [ngValue]="c.id">{{c.name}}</option>
    
  </select>

  <br>
  <br>
  Select Task
  <select [(ngModel)]="timesheet.taskId"  required name="taskId">
    <option *ngFor="let t of tasks" [ngValue]="t.id">{{t.name}}</option>
  </select>

  <br>
  <br>

  Hours
  <input type="number"  name="hours" [(ngModel)] ="timesheet.hours" required >
<br>
<br>
<button type="submit" >Save</button>
<button type="button" (click)="onCancel()" >Cancel</button>
</form>

