<h1>Employee List</h1>
Week: <button type="button" (click)="goPrevious()"> << </button>  {{weekstart}} - {{weekend}} <button type="button" (click)="goNext()"> >> </button> 
<table class="table">
    <tr>
        <th>ID</th>
        <th>Code</th>
        <th>Name</th>
        <th>Weekly Effort (Total)</th>
        <th>Weekly Effort (Average)</th>
    </tr>
    <tr *ngFor="let item of employees">
        <td>{{item.id}}</td>
        <td>{{item.code}}</td>
        <td>{{item.name}}</td>
        <td>{{item.weeklyTotalHours | number:'1.0-2'}}</td>
        <td>{{item.weeklyAvgHours | number:'1.0-2'}}</td>
    </tr>
</table>
<br>
<button type="button" routerLink='/timesheet'>View Timesheet</button>
