<h1> Timesheet</h1>



<div>

Select Employee
<select [(ngModel)]="selectedEmployee" (ngModelChange)="onChangeEmployee($event)">
  <option *ngFor="let c of employees" [ngValue]="c.id">{{c.name}}</option>
</select>

</div>
<div>
<div class="add-timesheet" *ngIf="selectedEmployee">
  <button (click)="navigateToAddTimeSheet()">Add</button>
</div>
<div *ngIf="selectedEmployee">

  <h4>Employee Timesheet</h4>
  Week: <button type="button" (click)="goPrevious()"> << </button>  {{weekstart}} - {{weekend}} <button type="button" (click)="goNext()"> >> </button> 
<table class="table" *ngIf="timesheetResponse">
    <tr>
        <th>Task Id</th>
        <th>Task Name</th>
        <th *ngFor="let date of timesheetDates" >{{date | date:'EEE'}}</th>
        
    </tr>
    <tr *ngFor="let timesheet of timesheetResponse.timesheetsByTask">
        <td>{{timesheet.taskId}}</td>
        <td>{{timesheet.taskName}}</td>
       
        <td *ngFor="let timeSheetByDay of timesheet.timeSheets">{{timeSheetByDay.hours}}</td>
        
    </tr>
</table>
</div>
<br>
<br>
<div *ngIf="!selectedEmployee"  class="info-message">
  <span > No employee is selected</span>
</div>
</div>
<br>
<br>
<button routerLink='/employee'>Back To Employees</button>

